/* styles.css */

/* * {
  border: 2px solid red;
} */

body {
  background-color: rgba(148, 184, 255, 0.5);
}

div  {
  width: fit-content;
  border-style: ridge;
  border-color: rgb(22, 202, 67);
  padding-left: 10px;
  border-width: 20px;
  padding-right: 10px;
  margin: auto;
}

h1 {
  color: rgb(6, 132, 9);
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 0px;
}

h2 {
  margin-top: -10px;
  font-size: 10px;
  text-align: right;
}