/* styles.css */

/* * {
  border: 2px solid red;
} */

body {
  background-color: rgba(255, 255, 255, 0.5);
}

.title-index {
  width: fit-content;
  border-style: ridge;
  border-color: rgb(22, 202, 67);
  padding-left: 10px;
  border-width: 20px;
  padding-right: 10px;
  margin: 20px auto 60px;
}

h1 {
  color: rgb(6, 132, 9);
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 0px;
}

h2 {
  margin-top: -10px;
  font-size: 10px;
  text-align: right;
}

.list-items {
  display: flex;           /* Use flexbox layout */
  justify-content: center; /* Horizontally center content */
  align-items: center;     /* Vertically center content */

}

.mp-bacon, 
.mp-chicken,
.mp-eggsalad {
  display: inline-block;
  margin: auto;

  width: fit-content;
  height: fit-content;
}