/* styles.css */

/* * {
  border: 2px solid red;
} */

html,
body {
  /* box-sizing: border-box; */
  height: 100%;
  padding: 10px;
  /* background-color: #ffeead; */
}

body {
  background-color: rgba(255, 255, 255, 0.5);
}

.title-index {
  width: fit-content;
  border-style: ridge;
  border-color: rgb(22, 202, 67);
  padding-left: 10px;
  border-width: 20px;
  padding-right: 10px;
  margin: 20px auto 40px;
}

.recipes-title {
  border-style: ridge;
  border-color: rgb(22, 202, 67);
  padding-left: 10px;
  border-width: 20px;
  padding-right: 10px;
  margin: 20px auto 20px;
}

h1 {
  color: rgb(6, 132, 9);
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 0px;
}

.name-title {
  margin-top: -10px;
  font-size: 10px;
  text-align: right;
}

.home-button {
  display: block;
  margin: auto;
  width: 100px;
  height: auto;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.pages-rec {
  max-width: 100%; /* Set maximum width to 100% of the viewport width */
  max-height: 100%; /* Set maximum height to 100% of the viewport height */
  display: block; /* Remove any extra spacing beneath the image */
  margin: auto; /* Center the image both horizontally and vertically */
}

.index-all-reciepes-container {
  border: 5px ridge #cbff5c;
  display: block;
  box-sizing: border-box;
  width: 695px;
  height: auto;
  margin: auto;
}

.index-bwwc {
  display: inline-block;
  margin: 5px 0px 10px 20px;
}

.index-cm {
  display: inline-block;
  margin: 0px 20px 0px 20px;
}

.index-es {
  display: inline-block;
  margin-left: auto;
}

.a-bwwc,
.a-cm,
.a-es {
  display: inline-block;
  box-sizing: content-box;
  width: 200px;
  height: 40px;
  text-align: center;
  /* border: #955cff 1px solid; */
}

.img-bwwc,
.img-cm,
.img-es {
  display: block;
}
